* {
  margin: 0;
  padding: 3px;
  box-sizing: border-box;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
}
.content,
.header,
.input-form,
.btn-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.come-account {
  margin-top: 2vh;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
}
.welcome {
  color: #667085;
  margin-top: 1vh;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.form {
  margin-top: 32px;
}
.input-form {
  align-content: center;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 1vh;
}
.label {
  margin-bottom: 6px;
}
input {
  width: 45vh;
  height: 4.7vh;
  border-radius: 1vh;
  border: 1px solid #d0d5dd;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.form-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.forgot-password {
  color: #3538cd;
  cursor: pointer;
}
.remember-user {
  display: flex;
}

button {
  width: 45vh;
  height: 5vh;
  margin: 1vh;
  border-radius: 1vh;
  border: none;
  outline: none;
  font-weight: 600;
}
.btn-come {
  background-color: #4a61e7;
  color: white;
}
.yandex-id {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.yandex-logo {
  margin-right: 1vh;
}
.moving {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vh;
}
img {
  align-items: center;
}
.go {
  color: #3538cd;
  cursor: pointer;
}
span {
  color: #667085;
}
